body {
    background-color: beige;
}
.tablita {
    border-collapse: collapse;
    background-color: aliceblue;

}

table {
    margin: auto;
    width: 75ch;
    height: 40ch;
}

.tablita td, th {
    border: 1px solid black;
    text-align: center;
}

th {
    font-family: 'Courier New', Courier, monospace;
}

td {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}